<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Food Tracker.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8E8A6E1B1D2004310010E5DA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8E8A6E2F1D2004320010E5DA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8E8A6E3A1D2004320010E5DA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
